@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg {
  background-size: cover;
  background-position: left;
  height: 163vh;
  width: 100%;
}

.custom-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 5%,
    rgba(255, 255, 255, 0) 100%
  );
}
